<section class="hero is-black is-bold is-fullheight">
  <div class="hero-head">
    <div class="container is-fluid has-text-left">
      <mat-icon class="has-text-warning is-size-1" [@transformIconLeftUpTrigger]="iconElectricalServicesStateLeftUp| async">electrical_services</mat-icon>
      <mat-icon class="has-text-warning is-size-1"[@transformIconLeftUpTrigger]="iconBoltStateLeftUp | async">bolt</mat-icon>
      <mat-icon class="has-text-warning is-size-1" [@transformIconLeftUpTrigger]="iconPowerStateLeftUp | async">power</mat-icon>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <section @transformLandingBlockTrigger [@transformBlockGrowShrinkTrigger]="blockState | async" *ngIf="isBlock | async" class="hero is-medium is-bold is-warning">
         <div class="hero-body">
           <div class="container has-text-centered">
             <p class="title" [ngClass]="{
               'has-text-black': !(isFlikker | async),
               'has-text-warning': (isFlikker | async)
             }" [@transformLandingAllChargersTrigger]="titleState | async">All Chargers</p>
              <p class="subtitle has-text-black" @transformLandingSubtitleTrigger *ngIf="isSubtitle | async">
                asdgfjhkdeswghasdjghasdkghdsajkglhasdg dsgjkghasdkkgjsdahgdsakjg
                dsagjasdkgsdahg egjdksagkhsdahg kjs dsajkgdsahgjdas ds jkdsa sdjkdgs
              </p>
           </div>
         </div>
      </section>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <button mat-button routerLink="/products" class="title has-text-warning" @transformLandingBlockTrigger>products</button>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title has-text-warning" @transformLandingContactTrigger>contact</p>
        </div>
      </div>
    </nav>
    <br>
  </div>
</section>
