<section class="hero is-fullheight is-black is-bold">
<div class="hero-body">
  <div class="container has-text-centered">
    <mat-form-field class="full-width">

      <input placeholder="E-Mail" [(ngModel)]="email" [errorStateMatcher]="errorStateMatcher" [formControl]="emailFormControl" matInput />
      <mat-error *ngIf="emailFormControl.hasError('required')">E-Mail is required</mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email')">Invalid e-mail</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input placeholder="Password" type="password" [(ngModel)]="password" [errorStateMatcher]="errorStateMatcher" [formControl]="passwordFormControl" matInput />
      <button mat-button (click)="submit()" matSuffix>login &nbsp;
      <div *ngIf="isFetch | async" class="spinner-border text-warning spinner-border-sm" matSuffix ></div>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('backend')">
        {{ fetchErrorMessage | async }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
</section>
