<div class="container has-text-centered">
  <div class="spinner-border has-text-warning" *ngIf="isFetch | async"></div>
</div>
<div *ngIf="!(isFetch | async)">
  <div *ngFor="let product of (products | async)">
    <img class="img-fluid" style="max-width: 500px; height: 500px; float: right;" src="{{ (backend | async) + '/api/images/' + product.imageId }}" />
    <p class="title has-text-warning">
      {{ product.title }}
    </p>
    <p class="subtitle has-text-warning">
      {{ '€ ' + product.price }}
    </p>
    <p class="subtitle has-text-warning">
      {{ product.description }}
    </p>
    <div style="clear: both;"></div>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading has-text-warning">to deliver</p>
          <p class="title has-text-warning">0</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading has-text-warning">delivered</p>
          <p class="title has-text-warning">0</p>
        </div>
      </div>
    </nav>
    <div class="has-text-centered">
      <button mat-button class="has-text-warning">adjust</button>
      <button mat-button class="has-text-warning">delete</button>
    </div>
  </div>
</div>
